html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  border-top: 30px solid #B578E0;
  background-color: #6806B9;
  height: 250px;
  color: #fff;
  text-align: center;
  position: relative;
}

h5 {
  margin-top: -30px;
  font-size: 20px;
  color: #6806B9;
}

.panda {
  display: flex;
  justify-content: space-around;
  width: 230px;
  float: left;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 {
  font-size: 100px;
  color: #B578E0;
  padding-top: 15px;
  padding-left: 150px;
  text-align: center;
  line-height: 1.0;
  position: absolute;
  left: 60px;
}

nav { 
  background-color: #D33ADB;
  color: white;
  padding: 10px 150px;
  text-align: center;
  align-items: center;
  font-size: 22px; 
}

nav .links a {
  color: #fff;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
}

nav .links a:hover {
  background-color: #6806B9;
}

.eu {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 30px 0px 50px 30px;
  padding: 5px;
  border-radius: 15px;
  float: right;
}

p, td{
  font-size: 20px;
  text-align: justify;
}

section {
  padding: 30px;
  margin: 40px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: calc(100% - 80px);
}

article {
  padding: 30px;
  margin: 30px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.skills {
  display: block;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
  }

  .skills-colunas1, .skills-colunas2 {
    width: 45%;
    padding: 5px;
    margin: 10px;
  }

h2 {
  border-bottom: 2px solid #D33ADB;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #6806B9;
  font-size: 32px;
}

h3 {
  margin: 5px;
  padding: 5px;
  color: #D33ADB;
  font-size: 25px;
}

.projetos section, .projetos article {
  padding: 20px;
  margin: 30px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
}

.skills li {
  background: #F2F2F2;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  border: 2px solid #6806b9;  
  margin: 5px;
  width: 100%
}

.projetos {
  width: 240px;
  height: 240px;
  margin: 10px 15px 10px 5px;
  padding: 5px;
  border-radius: 10px;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.descricao{
  padding: 30xp;
  font-size: 18px;
}

.no-icons li {
  display: flex;
}

table.customizada {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

ul, ol{
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin-bottom: 10px;
}

th, td {
  border: 4px ridge #6806b9;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #6806b9;
  color: #fff;
}

span{
  display: block;
  font-size: 20px;
  padding: 5px;
  padding-left: 20px;
  margin-left: 10px;
  text-align: justify;
}

.col-data{
  text-align: center;
  }

.col-categoria {
  text-align: center;
  }

.col-evento {
  text-align: center;
  }

.col-descricao {
  text-align: center;
  }

footer {
  background-color: #B578E0;
  height: 270px;
  color: #fff;
  text-align: center;
  padding: 20px 50px;
  margin-top: 20px;
}

.redes-sociais{
  width: 50px;
  height: 50px;
  float: right;
  margin-bottom: 50px;
  margin-top: -70px; 
  display: flex;
  gap: 15px;
}

.copyright {
  width: 25px;
  height: 25px;
  padding-top: 10px;
  padding-right: 0;
}

.copyrightok h6 {
  font-size: 16px;
  padding-top: 30px;
  padding-left: 0;
  display: block;
  justify-content: center;
}

.contatos{
  text-align: left;
}
